*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

div {
    border : 2px solid black;
}

body {
    height : 100vh;
}

.header{
    height:30%;
    display:flex;
    flex-direction:column;
}

.info {
    height:23%;
}

.quote {
    height:23%;
}

.footer{
    height:24%;
}

.highfoot{
    height : 75%;
}

.lowfoot{
    height:25%;
}

.header , .lowfoot {
    background-color: #1F2937;
}

.header-logo{
    flex : 3 1 0%;
    text-align:center;
    min-width:max-content;
    color: aliceblue;
    padding: 10px ;
    text-align: center;
}

.header-links{
    flex : 2 1 0%;
    display: flex;
    
}

.header-link {
    padding : 5px 20px;
    min-width: max-content;
    color : aliceblue;
}

.header-upper {
    display: flex;
}